/ {
	gpios {
		compatible = "gpio-leds";
		led_green: led_green {
			gpios = <&gpiod 12 GPIO_ACTIVE_HIGH>;
			label = "red green";
		};
		led_red: led_red {
			gpios = <&gpiod 13 GPIO_ACTIVE_HIGH>;
			label = "red led";
		};		
		led_blue: led_blue {
			gpios = <&gpiod 15 GPIO_ACTIVE_HIGH>;
			label = "red blue";
		};				
		led_orange: led_orange {
			gpios = <&gpiod 14 GPIO_ACTIVE_HIGH>;
			label = "red orange";
		};		
		button: button {
			gpios = <&gpioa 0 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
			label = "Button";
		};
		encoder_a: encoder_a {
			gpios = <&gpioe 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Encoder A";
		};
		encoder_b: encoder_b {
			gpios = <&gpioe 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Encoder B";
		};	
		test_pin: test_pin {
			gpios = <&gpioe 4 (GPIO_ACTIVE_LOW)>;
			label = "test pin";
		};								
	};	
};
